openapi: 3.2.0
info:
  title: Apperio API Documentation Users API
  description: '# Introduction


    The Apperio API allows law firms and businesses to enhance their internal

    business intelligence capabilities.'
servers:
- url: https://sandbox.apperio.com/
- url: https://app.apperio.com/
tags:
- name: Users
  description: 'The users endpoints allow you to manage your API tokens. Tokens are used to

    authenticate requests to the Apperio API. You can list your existing tokens,

    delete tokens that are no longer needed, and activate or deactivate tokens

    without permanently removing them.'
paths:
  /api/v1/users/tokens/:
    get:
      summary: List API tokens
      description: 'Capabilities: BUSINESS, LAW_FIRM


        Returns all API tokens belonging to the authenticated user, ordered by creation date

        with the most recently created token first.


        Each token is identified by its `beginning` field — the first 6 characters of the

        token value. The full token value is only available at the time of creation and

        cannot be retrieved afterwards.'
      tags:
      - Users
      responses:
        '200':
          description: 'List of API tokens

            '
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: An API token belonging to the authenticated user
                  required:
                  - id
                  - beginning
                  - created
                  - is_active
                  properties:
                    id:
                      type: integer
                      description: Unique identifier for the token
                      example: 42
                    beginning:
                      type: string
                      description: The first 6 characters of the token, used to identify it
                      example: a1b2c3
                    created:
                      type: string
                      format: date-time
                      description: The date and time the token was created
                      example: '2024-03-15T10:30:00Z'
                    is_active:
                      type: boolean
                      description: Whether the token is currently active
                      example: true
        '401':
          description: 'Unauthenticated access - ensure to create a valid API token

            '
      operationId: getApiV1UsersTokens
      x-operation-id-source: derived
    post:
      summary: Create an API token
      description: 'Capabilities: BUSINESS, LAW_FIRM


        Creates a new API token for the authenticated user. The full token value is returned

        in the `raw_token` field **only in this response** — it cannot be retrieved again.

        Store it securely immediately after creation.


        A maximum of 2 tokens can be active per user at any time.'
      tags:
      - Users
      responses:
        '201':
          description: 'Token successfully created

            '
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  description: An API token belonging to the authenticated user
                  required:
                  - id
                  - beginning
                  - created
                  - is_active
                  properties:
                    id:
                      type: integer
                      description: Unique identifier for the token
                      example: 42
                    beginning:
                      type: string
                      description: The first 6 characters of the token, used to identify it
                      example: a1b2c3
                    created:
                      type: string
                      format: date-time
                      description: The date and time the token was created
                      example: '2024-03-15T10:30:00Z'
                    is_active:
                      type: boolean
                      description: Whether the token is currently active
                      example: true
                - type: object
                  required:
                  - raw_token
                  properties:
                    raw_token:
                      type: string
                      description: 'The full token value. This is only returned once at creation time

                        and cannot be retrieved again.

                        '
                      example: a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2
        '400':
          description: 'Invalid request - the user already has 2 tokens

            '
        '401':
          description: 'Unauthenticated access - ensure to create a valid API token

            '
      operationId: postApiV1UsersTokens
      x-operation-id-source: derived
  /api/v1/users/tokens/{token-id}/:
    delete:
      summary: Delete an API token
      description: 'Capabilities: BUSINESS, LAW_FIRM


        Permanently deletes the specified API token. Any integrations using this token

        will immediately lose access.'
      tags:
      - Users
      parameters:
      - name: token-id
        in: path
        required: true
        schema:
          type: integer
          description: Token ID
          example: 42
      responses:
        '204':
          description: 'Token successfully deleted

            '
        '401':
          description: 'Unauthenticated access - ensure to create a valid API token

            '
        '404':
          description: 'Token not found

            '
      operationId: deleteApiV1UsersTokensByTokenId
      x-operation-id-source: derived
  /api/v1/users/tokens/{token-id}/status/:
    put:
      summary: Update token status
      description: 'Capabilities: BUSINESS, LAW_FIRM


        Activates or deactivates the specified API token. A deactivated token cannot be used

        to authenticate requests but is not deleted and can be reactivated at any time.


        If you suspect a token has been compromised, deactivate it immediately and generate

        a new one.'
      tags:
      - Users
      parameters:
      - name: token-id
        in: path
        required: true
        schema:
          type: integer
          description: Token ID
          example: 42
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - is_active
              properties:
                is_active:
                  type: boolean
                  description: Whether the token should be active
                  example: false
      responses:
        '200':
          description: 'Updated token status

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_active:
                    type: boolean
                    description: The updated active status of the token
                    example: false
        '401':
          description: 'Unauthenticated access - ensure to create a valid API token

            '
        '404':
          description: 'Token not found

            '
      operationId: putApiV1UsersTokensByTokenIdStatus
      x-operation-id-source: derived
