openapi: 3.2.0
info:
  title: Apperio API Documentation Matter information API
  description: '# Introduction


    The Apperio API allows law firms and businesses to enhance their internal

    business intelligence capabilities.'
servers:
- url: https://sandbox.apperio.com/
- url: https://app.apperio.com/
tags:
- name: Matter information
  description: A set of endpoints returning information about a specific matter.
paths:
  /api/v1/matters/{matter-id}/header:
    get:
      summary: Matter header
      description: Returns data displayed in the header of the matter page.
      parameters:
      - name: matter-id
        in: path
        required: true
        schema:
          type: integer
        description: 'Inclusive date to gather data from


          IMPORTANT: This parameter depends on the type of user.

          For business users, it is the `project_id`.

          For law firm users - `engagement_id`.

          You can retrieve both from the `/api/v1/filter/engagements` endpoint.

          '
        example: 123
      tags:
      - Matter information
      responses:
        '200':
          description: 'Matter header data

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: The ID of the engagement
                    example: 123
                  budget_id:
                    type: integer
                    description: The ID of a budget associated with this engagement
                    example: 456
                  currency:
                    type: string
                    example: GBP
                    description: ISO 4217 Three letter currency code
                    minLength: 3
                    maxLength: 3
                  client_matter_reference:
                    type: string
                    description: A client's matter reference, if different than the law firm's one
                    example: M123-A4789/1
                  fee_structure:
                    type: string
                    example: hourly
                    description: "Fee Structure. How is the matter billed. Supported fee structures are:\n  * `hourly` - Billed on a time and materials basis.\n  * `fixed` - Fixed fee.\n  * `capped` - Billed on time and materials up to a fixed cap.\n"
                  data_visible_up_to:
                    type: date
                    description: The last date the data is visible for. Equals to today's date minus the sharing window.
                  is_nonbillable:
                    type: boolean
                    description: Whether the matter is non-billable
                  law_firm:
                    type: object
                    description: Basic firm details
                    properties:
                      id:
                        type: integer
                        description: The ID of the firm
                        example: 123
                      name:
                        type: string
                        description: The name of the firm
                        example: Example Law Firm
                      service_provider_type:
                        type: string
                        description: The type of the service this firm provides
                        enum:
                        - legal
                        - accountancy
                  law_firm_created_at:
                    type: date
                    description: The date this matter was created in the law firm's PMS
                  law_firm_name:
                    type: string
                    description: The matter name, as provided by the law firm
                  billing_entity:
                    type: object
                    properties:
                      id:
                        type: integer
                      business_id:
                        type: integer
                      name:
                        type: string
                  number:
                    type: string
                    description: Matter number, as provided by the law firm
                  open_dates:
                    type: object
                    description: The date range of when the matter was "open"
                    properties:
                      start_date:
                        type: date
                        example: '2020-05-01'
                      end_date:
                        type: date
                  practice_group:
                    type: object
                    description: The matter's practice group
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                  status:
                    type: string
                    description: The matter status
                    enum:
                    - current
                    - closed
                  is_business_name_different:
                    type: boolean
                  client_contact_first_name:
                    type: string
                  client_contact_last_name:
                    type: string
                  client_contact_email:
                    type: string
                  standard_fee_structure:
                    type: object
                    description: The "standard" fee structure that the one prvovided by the law firm is mapped to
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      active_fee_structure:
                        type: string
                        enum:
                        - capped
                        - fixed
                        - hourly
                      icon:
                        type: string
                      overrides:
                        type: array
                  client_name:
                    type: string
                    description: The name of the client
                  law_firm_closed_at:
                    type: date
                    description: The matter close date, as provided by the law firm
                  project:
                    type: object
                    description: The matter metadata provided by the business
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      business_matter_type:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                      folder:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                            description: The folder name
                          full_folder_name:
                            type: string
                            description: The full path to the folder, including all is ancestors
                      pass_through:
                        type: boolean
                        description: Whether it is a pass-through matter
                      team:
                        type: object
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                      matter_owners:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            matter:
                              type: object
                              properties:
                                id:
                                  type: integer
                                name:
                                  type: string
                            user:
                              type: object
                              properties:
                                id:
                                  type: integer
                                first_name:
                                  type: string
                                last_name:
                                  type: string
                                email:
                                  type: string
                            assignment_start:
                              type: date
                            assignment_end:
                              type: date
                      confidential:
                        type: boolean
                  is_business_manual:
                    type: boolean
                    description: Whether the matter was created manually by the business
                  is_redacted:
                    type: boolean
                    description: Whether the data is redacted (because the matter is confidential and the user does not have access to confidential matters)
      operationId: getApiV1MattersByMatterIdHeader
      x-operation-id-source: derived
